In [7]:
import json
import awswrangler as wr
import pandas as pd
from boto3 import Session
import logging
import pandavro as pdx
import io

In [2]:

def get_boto_session():
    try:
        return Session(profile_name='globant')
    except:
        return Session()


session = get_boto_session()
con = wr.mysql.connect("globant_connection", boto3_session=session)

In [4]:
df = wr.mysql.read_sql_table(
    table='departments',
    schema='globant',
    con=con
)

In [11]:
!pip install polars

Collecting polars
  Obtaining dependency information for polars from https://files.pythonhosted.org/packages/ae/95/9f7cfd120d548c78e3da1b0f3e333fc401159d5bb02f5f478f730bc73937/polars-0.20.17-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading polars-0.20.17-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (15 kB)
Downloading polars-0.20.17-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.2/26.2 MB 2.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: polars
Successfully installed polars-0.20.17

In [12]:


# # Set up boto3 S3 client
# s3 = session.client('s3')

# # Upload the file to S3
# bucket_name = 'globant.backup'
# file_name = 'backup.avro'

# csv_buffer = io.StringIO()
# # df.to_csv(csv_buffer, index=False)
# pdx.to_avro(csv_buffer, df)

# s3.put_object(Bucket=bucket_name, Key=file_name, Body=csv_buffer.getvalue())
# print(f"File '{file_name}' uploaded to S3 bucket '{bucket_name}'.")

In [14]:
df

    id                department
0    1                      wiwi
1    2                      wawa
2    3  Research and Development
3    4      Business Development
4    5               Engineering
5    6           Human Resources
6    7                  Services
7    8                   Support
8    9                 Marketing
9   10                  Training
10  11                     Legal
11  12                Accounting

In [ ]:
import polars as pl

:

In [1]:
import polars as pl

: